#[gcode_macro PRINT_START]
##   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#gcode:
#    G32                            ; home all axes
#    G90                            ; absolute positioning
#    G1 Z20 F3000                   ; move nozzle away from bed
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    
    STATUS_READY
    BED_MESH_CLEAR
    
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.EXTRUDER|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}
    {% set start_chambertemp = chambertemp - 10 %}
    {% set needs_mesh = params.needs_mesh|default(1)|int %}
   
    M140 S{bedtemp}                                                            ; set bed temp
    G90
    ##G4 P300000
    STATUS_HOMING
    G28 X Y

    STATUS_HEATING
    M190 S{bedtemp}

    {% if params.CHAMBER|default(0)|int > 0|int %}
          SET_CHAMBER CHAMBER_TEMP={chambertemp}
    {% endif %}

    {% if start_chambertemp > 10 %}
        TEMPERATURE_WAIT SENSOR="heater_generic heater_chamber" MINIMUM={start_chambertemp}   ; wait for chamber temp
    {% else %}
        TEMPERATURE_WAIT SENSOR="heater_generic heater_chamber" MINIMUM=0   ; wait for chamber temp
    {% endif %}

    SET_DISPLAY_TEXT MSG="Hotend: {hotendtemp}c"
    M109 S150

    STATUS_HOMING
    G28 Z
    G1 Z20 F3000                   ; move nozzle away from bed

    SET_DISPLAY_TEXT MSG="Leveling"
    STATUS_LEVELING
    Z_TILT_ADJUST
    G28 Z

    SET_DISPLAY_TEXT MSG="Bed mesh"
    STATUS_MESHING
    bed_mesh_calibrate
    CARTOGRAPHER_TOUCH

    SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"
    STATUS_HEATING
    #SMART_PARK
	M109 S{hotendtemp}                                                           ; set & wait for hotend temp

    STATUS_PRINTING
    #KOMB
    #LINE_PURGE
[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    SET_CHAMBER CHAMBER_TEMP=0
	# Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F2000
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    G0 X150 Y300 F4800
    wipe
    G0 X150 Y300 F4800
    # Disable steppers
    M84