#[gcode_macro PRINT_START]
##   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#gcode:
#    G32                            ; home all axes
#    G90                            ; absolute positioning
#    G1 Z20 F3000                   ; move nozzle away from bed
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    
    STATUS_READY
    BED_MESH_CLEAR
    
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.EXTRUDER|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}
    {% set start_chambertemp = chambertemp - 10 %}
    {% set needs_mesh = params.needs_mesh|default(1)|int %}
   
    SET_DISPLAY_TEXT MSG="Heating bed to {bedtemp}c..."
    M140 S{bedtemp}                                                            ; set bed temp
    G90
    SET_DISPLAY_TEXT MSG="Homing X Y..."
    STATUS_HOMING
    G28 X Y
    SET_DISPLAY_TEXT MSG="Waiting for bed: {bedtemp}c"
    STATUS_HEATING
    M190 S{bedtemp}                                                            ; wait for bed to reach target

    {% if chambertemp > 0 %}
        SET_DISPLAY_TEXT MSG="Bed soaking..."
        G4 P6000                                                              ; wait 1 min for bed to stabilize
        SET_DISPLAY_TEXT MSG="Starting chamber heater..."
        SET_CHAMBER CHAMBER_TEMP={chambertemp}
        SET_DISPLAY_TEXT MSG="Waiting for chamber: {chambertemp}c"
        {% if start_chambertemp > 10 %}
            TEMPERATURE_WAIT SENSOR="heater_generic heater_chamber" MINIMUM={start_chambertemp}
        {% else %}
            TEMPERATURE_WAIT SENSOR="heater_generic heater_chamber" MINIMUM=0
        {% endif %}
        SET_DISPLAY_TEXT MSG="Chamber ready!"
    {% endif %}

    SET_DISPLAY_TEXT MSG="Preheating nozzle to 150c..."
    M109 S150
    SET_DISPLAY_TEXT MSG="Homing Z..."
    STATUS_HOMING
    G28 Z
    G1 Z20 F3000                                                               ; move nozzle away from bed
    SET_DISPLAY_TEXT MSG="Leveling gantry..."
    STATUS_LEVELING
    Z_TILT_ADJUST
    SET_DISPLAY_TEXT MSG="Homing Z after tilt..."
    G28 Z
    SET_DISPLAY_TEXT MSG="Cartographer touch home..."
    CARTOGRAPHER_TOUCH_HOME
    SET_DISPLAY_TEXT MSG="Generating bed mesh..."
    STATUS_MESHING
    bed_mesh_calibrate
    SET_DISPLAY_TEXT MSG="Mesh complete!"
    
    SET_DISPLAY_TEXT MSG="Heating hotend to {hotendtemp}c..."
    STATUS_HEATING
    M109 S{hotendtemp}                                                         ; set & wait for hotend temp
    SET_DISPLAY_TEXT MSG="Printing!"
    STATUS_PRINTING
[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    SET_CHAMBER CHAMBER_TEMP=0
	# Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F2000
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    G0 X150 Y300 F4800
    wipe
    G0 X150 Y300 F4800
    # Disable steppers
    M84